{% load i18n static %}
{% load render_bundle from utils %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:'ru' }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}{% trans "Site name" %}{% endblock title %}</title>
  <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}" />
  {% render_bundle 'chunk-vendors' 'css' %}
  {% render_bundle 'app' 'css' %}
  {% block head %}{% endblock head %}
</head>
<body>
  <div class="wrapper">
    {% block body %}{% endblock body %}
  </div>
  {% render_bundle 'chunk-vendors' 'js' %}
  {% render_bundle 'app' 'js' %}
  {% block bottom %}{% endblock bottom %}
</body>
</html>
